
  .container{
            max-width: 700;
            margin: 0 auto;
            color: green;
            font-family: "sans-serif";
            padding: 60;
            padding-left: 40;
            padding-right: 60;
            
        }


